@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@500;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1440px) and (min-width: 1081px) {
  /* HD only */
  html {
    font-size: 1.11vw; /* 16px at 1440px */
  }
}

@media (max-width: 1080px) and (min-width: 701px) {
  /* Desktop only */
  html {
    font-size: 1.48vw; /* 16px at 1080px */
  }
}

@media (max-width: 700px) {
  /* Mobile sizes */
  html {
    font-size: 2.28; /* 16px at 700px */
  }
}

html {
  background-color: var(--ppCharcoal) !important;
}

body {
  color: var(--darkGray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.6;
  }
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  color: var(--green);
  &:hover {
    color: var(--darkGreen);
    transition: color 0.3s;
  }
}
